@charset "UTF-8";
/* mind http://inquiringmind.com Write your theme styles here */
/*$im-brown: #ca6929;*/
h1, h2 { margin: 25px 0px 8px 0px; }

h3, h4, h5, h6 { margin: 6px 0 4px; }

h1 { line-height: 1.1em; }

h2 { font-size: 23px; }

@media only screen and (max-width: 600px) { h2 { font-size: 20px; font-weight: 400; } }

@media only screen and (min-width: 850px) { h2 { font-size: 24px; font-weight: 400; } }

@media only screen and (min-width: 1040px) { h2 { font-size: 24px; } }

h3 { font-size: 20px; }

@media only screen and (max-width: 600px) { h3 { font-size: 18px; font-weight: 400; } }

@media only screen and (min-width: 850px) { h3 { font-size: 20px; font-weight: 400; } }

@media only screen and (min-width: 1040px) { h3 { font-size: 20px; } }

h4 { font-size: 18px; }

@media only screen and (max-width: 600px) { h4 { font-size: 16px; font-weight: 400; } }

@media only screen and (min-width: 850px) { h4 { font-size: 18px; font-weight: 400; } }

@media only screen and (min-width: 1040px) { h4 { font-size: 18px; } }

hr { margin: 4px 0; padding: 0; }

body { font-family: "Lato", sans-serif; background-color: #ebebeb; font-size: 16px; }

@media only screen and (min-width: 850px) { body { font-size: 16px; } }

.caption { font-size: 12px; font-weight: 300; font-style: italic; }

blockquote p { font-weight: 100; font-style: italic; font-size: 18px; line-height: 150%; color: #7a7a7a; /*color:red;*/ }

pre { border: 0; background-color: white; font-family: "Lato", sans-serif; padding: 0; }

.hentry { margin: 0; }

.entry-header, .entry-content, .entry-footer, .page-header { margin: 0; padding: 0; }

.search-form .search-submit { padding: 8px 15px; box-shadow: none; background-color: #51568e; color: white; font-size: 14px; }

.form-group { display: inline-block; }

.container { background-color: white; }

#masthead { background-color: black !important; }

header { background-color: transparent; }

header .mobile { background-color: black; min-height: 45px; padding: 5px 0; }

header .search { background-color: lightgray; text-align: right; }

header .search span { margin: 0; padding: 5px 8px; display: inline-block; }

header .search span .fa { font-size: 22px; }

header .search span:hover, header .search span:active, header .search span:focus { background-color: white; }

header .search-container { background-color: white; padding: 10px 5px; }

header .search-container .search-field { width: 250px; }

@media only screen and (min-width: 600px) { header .search-container .search-field { width: auto; } }

.search-results header .search span.search-glass { background-color: white; }

.search-results .entry-summary { margin: 0 0 15px 0; padding: 0; }

.awesomplete > ul > li { text-align: left; }

.awesomplete > ul > li:hover { background: wheat; color: black; }

.awesomplete > ul > li[aria-selected="true"] { background: wheat; color: black; }

.awesomplete mark { background: transparent; }

.awesomplete li:hover mark { background: transparent; }

.awesomplete li[aria-selected="true"] mark { background: transparent; color: inherit; }

.home header .search span.grid { background-color: white; }

.post-type-archive-issue header .search span.list { background-color: white; }

.navbar-header button .icon-bar { background-color: #999; }

.navbar-header .navbar-toggle { border-color: transparent; margin-top: 5px; }

.navbar-default { background-color: white; border-radius: 0; border-color: transparent; min-height: auto; min-height: 0px; }

@media only screen and (min-width: 480px) { .navbar-default .navbar-collapse { padding-left: 0; } }

.navbar-default .navbar-toggle:focus { background-color: transparent; }

.navbar-default .navbar-nav li > a { text-transform: uppercase; }

.navbar { margin-bottom: 0px; }

.sub-menu { display: none; }

.home-page .container { background-color: #000; color: white; }

/* issues - grid view */
.issue-grid .container { background-color: black; padding: 20px 15px 0px 15px; }

.issue-grid img { padding-bottom: 20px; }

/* issues - list view  */
.issue-title .container { padding-left: 0; padding-right: 0; }

@media only screen and (min-width: 600px) { .issue-title .container { padding-left: auto; padding-right: auto; } }

.issue-title .container .title .completed { font-style: italic; }

.issue-title .entry-content { padding: 20px 15px 15px 15px; }

.issue-title .entry-content h2 { padding: 0; margin: 0px; }

/* layout-issue-heading.php - list view */
/* purple bar */
.issue-heading .container { /*margin-bottom: 10px;*/ padding: 8px 10px; background-color: #46438d; font-size: 14px; color: white; }

.issue-heading .container .title { font-size: 16px; color: white; }

.issue-heading .container .toc-icon { font-size: 18px; }

.issue-heading .container .season, .issue-heading .container .toc-icon { color: white; }

/* body elements */
/* layout-issue-article-title.php */
.issue-article-title .article-title { font-weight: 400; }

.issue-article-title .article-author, .issue-article-title .article-author a { font-size: 14px; color: #444; }

.issue-article-title .excerpt { font-size: 14px; line-height: 140%; color: #454545; }

.issue-article-title .rule { padding-top: 5px; }

.issue-intro .entry-content h2 { padding-top: 10px; }

.issue-intro .entry-content p { line-height: 140%; }

.issue-intro .entry-content .cover { padding-top: 15px; padding-bottom: 15px; }

/* layout-article-title-authors.php heading in article */
.article-title-author .container .department-title { text-transform: uppercase; padding-top: 10px; font-size: 12px; }

.issue-section-heading { text-transform: uppercase; color: #000; font-size: 14px; font-weight: bold; }

.issue-section-heading .container article { margin: 15px -15px; }

.issue-section-heading .container article .row { margin: 0 15px; }

.issue-section-heading .container article .department-heading { display: flex; align-items: center; }

.issue-section-heading .container article .department-heading::after { background: #616161; height: 2px; flex: 1; content: ""; margin-left: 15px; }

.article-1-column .featured-image { padding: 20px 0; }

.container-fluid.departments ul { margin: 0; padding: 0; list-style: none; }

.container-fluid.departments ul li { margin: 0; padding: 0 0 0 5px; list-style: none; }

.container-fluid.departments ul li ul { display: none; }

.container-fluid.departments ul li ul li { padding: 0 0 0 35px; }

/* sidebar */
.sidebar-heading { font-size: 16px; text-transform: uppercase; font-family: "Lato", sans-serif; }

.site-footer-top { background-color: #46438d; height: 20px; margin-top: 50px; }

.site-footer { /*background-color: $im-purple;*/ background-color: black; color: #ebebeb; font-size: 16px; font-weight: 300; padding-left: 10px; }

.site-footer a, .site-footer a:visited { color: white; }

.site-footer a:hover { text-decoration: underline; }

/* Greyed down the caption so it didn’t leap out */
.home-page .wp-caption-text em { color: #999; }

/* The centered title was making the page look too busy. Since logo is already left aligned, a left aligned title feels less busy. I had to use !important to get that style to over-ride */
.home-page h1 { text-align: left !important; }

/* The little issue tags on the grid of covers were jumping out too much and making the page busy, so I greyed them out as well - had to use !important to get it to stick */
h5.text-center { color: #999 !important; }

/* Page titles were a little too horsey at 41px so I dropped them down to 32px and gave them a little breathing room below */
h1 { font-size: 32px; padding-bottom: 8px; }

/* Link color in the homepage intro was a little too close to the black background so I lightened it up only for this page */
.home-page .entry-content a { color: #9da2d0; }

/* List view of the Issues the text for date and the volume number was similar and not easy to distinguish. To differentiate, I used grey for the volume info */
.issue-title .entry-content h4 { color: #666; }

/* Line length was too long on big monitors for the Print Journal Staff intro - I pulled it back */
#post-648 .entry-content { width: 70%; }

.page-id-684 #footer-donate { display: none; }

.archive h4 { font-weight: bold; }

.post-type-archive-issue h4 { font-weight: normal; }

.search .title h3 { font-weight: bold; }

.page-id-684 .footer-donate { display: none; }

/*# sourceMappingURL=main.css.map */