
@import "../../bower_components/sass-bootstrap/lib/_mixins.scss";
@import "../../bower_components/sass-bootstrap/lib/_variables.scss";
/*
 * mind
 * http://inquiringmind.com
 *
 * Write your theme styles here
 */

/*$im-brown: #ca6929;*/
$im-brown: #ca6929;
$im-dkblue: #51568e;
$im-purple: #46438d;
$im-purple-light: #7c79d4;
$main-font: 'Lato', sans-serif;
$background-grey: #ebebeb;
$med-grey:#7a7a7a;
$dark-grey: #616161;
$section-grey: #f7f7f7;

///////////////////////////////////////////////////////////////////////////////
// General HTML

a, a:visited, a:active {
}
a:hover, a:focus {
}
h1, h2 {
  margin: 25px 0px 8px 0px;
}
h3, h4, h5, h6 {
  margin: 6px 0 4px;
}
h1 {
  line-height: 1.1em;
}
h2 {
  font-size:23px;
  @media only screen and (max-width: $screen-sm) { // small > 480px, tablet, portrait
    font-size: 20px;
    font-weight:400;
  }
  // desktop break, ipad landscape break
  @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
    font-size: 24px;
    font-weight:400;
  }
  @media only screen and (min-width: $screen-lg) { // large, wide > 1100px
    font-size: 24px;
  }
}
h3 {
  font-size: 20px;
  @media only screen and (max-width: $screen-sm) { // small > 480px, tablet, portrait
    font-size: 18px;
    font-weight:400;
  }
  // desktop break, ipad landscape break
  @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
    font-size: 20px;
    font-weight:400;
  }
  @media only screen and (min-width: $screen-lg) { // large, wide > 1100px
    font-size: 20px;
  }
}
h4 {
  font-size: 18px;
  @media only screen and (max-width: $screen-sm) { // small > 480px, tablet, portrait
    font-size: 16px;
    font-weight:400;
  }
  // desktop break, ipad landscape break
  @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
    font-size: 18px;
    font-weight:400;
  }
  @media only screen and (min-width: $screen-lg) { // large, wide > 1100px
    font-size: 18px;
  }
}

hr {
  margin: 4px 0;
  padding: 0;
}
body {
  font-family: $main-font;
  background-color: #ebebeb;
  font-size: 16px;
  // desktop break, ipad landscape break
  @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
    font-size: 16px;
  }
}
.caption {
  font-size:12px;
  font-weight:300;
  font-style:italic;
}
blockquote p {
  font-weight:100;
  font-style:italic;
  font-size:18px;
  line-height: 150%;
  color:$med-grey;
  /*color:red;*/
}
pre {
  border: 0;
  background-color: white;
  font-family: $main-font;
  padding: 0;
}


///////////////////////////////////////////////////////////////////////////////
// WordPress
.hentry { margin: 0;}
.entry-header, .entry-content, .entry-footer, .page-header {
  margin: 0;
  padding: 0;
}
.search-form {
  .search-submit {
    padding: 8px 15px;
    box-shadow: none;
    background-color: $im-dkblue;
    color: white;
    font-size: 14px;
  }
}

///////////////////////////////////////////////////////////////////////////////
//  Bootstrap

// fixes search form
.form-group {
  display: inline-block;
}

///////////////////////////////////////////////////////////////////////////////
// containers
.container {
  background-color:white;
}

///////////////////////////////////////////////////////////////////////////////
// header
#masthead {
  background-color: black !important;
}

header {
  background-color: transparent;

  .mobile {
    background-color: black;
    min-height: 45px;
    padding: 5px 0;
  }


  // searchform
  .search {
    background-color: lightgray;
    @media only screen and (min-width: $screen-sm) { // small > 768px, tablet, portrait
      //background-color: transparent;
    }

    text-align: right;
    span {
      margin: 0;
      padding: 5px 8px;
      .fa {
        font-size: 22px;
      }
      display:inline-block;
    }
    span:hover, span:active, span:focus {
      background-color: white;
    }

  }
  .search-container {
    background-color: white;
    padding: 10px 5px;
    .search-field {
//      width: 80%;
    width: 250px;
    @media only screen and (min-width: $screen-sm) { // small > 768px, tablet, portrait
      width: auto;
      }
    }
    .search-submit {
  //    display: inline;
    }

  }
}
.search-results {
  header .search span.search-glass {
    background-color: white;
  }
  .entry-summary {
    margin: 0 0 15px 0;
    padding: 0;
  }
}


// search autocomplete-for-relevanssi
.awesomplete > ul > li {
  text-align: left;
}

.awesomplete > ul > li:hover {
  background: wheat;
  color: black;
}

.awesomplete > ul > li[aria-selected="true"] {
  background: wheat;
  color: black;
}

.awesomplete mark {
  background: transparent;
}

.awesomplete li:hover mark {
  background: transparent;
}

.awesomplete li[aria-selected="true"] mark {
  background: transparent;
  color: inherit;
}

// issue list and grid
.home header .search span.grid {
  background-color: white;
}
.post-type-archive-issue header .search span.list {
  background-color: white;
}


///////////////////////////////////////////////////////////////////////////////
// navigation

// mobile - hamburger
.navbar-header {
    button .icon-bar {
    background-color: #999;
  }
  .navbar-toggle {
    border-color: transparent;
    //margin-right: 0px;
    //margin: 0;
    margin-top: 5px;
    }
}

// navigation defaults
.navbar-default {
  //background-color: transparent;
  //border-color: transparent;
  background-color: white;
  border-radius: 0;
  border-color: transparent;
  min-height: auto;
  min-height: 0px;

  .navbar-header {
    //margin-top: -50px;
  }



  .navbar-collapse {
    @media only screen and (min-width: $screen-xs) { // xs <> 480px, small, phones
      padding-left: 0;
    }
  }
  .navbar-toggle:focus {
    background-color: transparent;
  }

  .navbar-nav{
    li > a {
      text-transform: uppercase;
    }
  }

}

.navbar {
  margin-bottom: 0px;
}

.sub-menu { display: none; }

///////////////////////////////////////////////////////////////////////////////
// content

// home page
.home-page .container {
  background-color: #000;
  color: white;
}

/* issues - grid view */
.issue-grid {
  .container {
    background-color: black;
    padding: 20px 15px 0px 15px;
  }
  img {padding-bottom:20px;}
}

/* issues - list view  */
.issue-title {
  .container {
    padding-left: 0;
    padding-right: 0;
    @media only screen and (min-width: $screen-sm) { // xs <> 480px, small, phones
      padding-left: auto;
      padding-right: auto;
    }
    .title {
      .completed {
        font-style: italic;
      }
    }
  }
.entry-content {
    padding: 20px 15px 15px 15px;
    h2 {
      padding:0;
      margin:0px;
    }
  }
}
/* layout-issue-heading.php - list view */
/* purple bar */
.issue-heading {
  .container {
    /*margin-bottom: 10px;*/
    padding: 8px 10px;
    background-color: $im-purple;
    font-size: 14px;
    color:white;
    .title {
      font-size: 16px;
      color:white;
    }
    .toc-icon {
      font-size:18px;
    }
    .season, .toc-icon {
      color:white;
    }
   }
  }
  /* body elements */

  /* layout-issue-article-title.php */
  .issue-article-title {
    .article-title {
      font-weight:400;
    }
    .article-author, .article-author a {
      font-size:14px;
      color:#444;
    }
    .excerpt {
      font-size:14px;
      line-height:140%;
      color:#454545;
    }
    .rule {
      padding-top: 5px;
    }
  }
.issue-intro {
    .entry-content {
      // .department {
      //   text-transform: uppercase;
      //   font-style: italic;
      // }
        h2 {
          padding-top:10px;
        }
        p {
          line-height: 140%;
        }
        .cover {
          padding-top:15px;
          padding-bottom:15px;
        }
      }
  }
  /* layout-article-title-authors.php heading in article */
  .article-title-author {
    .container {
      .department-title {
        text-transform: uppercase;
        padding-top:10px;
        font-size:12px;
      }
    }
  }
  .issue-section-heading {
    text-transform: uppercase;
    color:#000;
    font-size:14px;
    font-weight:bold;
    .container {
      article {
        margin: 15px -15px;

        .row {
          margin: 0 15px;
          }
          .department-heading {
            display:flex;
            align-items:center;
          }
          .department-heading::after {
            background:$dark-grey;
            height:2px;
            flex:1;
            content:"";
            margin-left:15px;
          }
      }
    }
  }

.article-1-column {
  .featured-image {
    padding: 20px 0;
  }
}
// departments archive taxonomy page
.container-fluid.departments {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 0 0 0 5px;
      list-style: none;
      ul {
        display:none;
        li {
          padding: 0 0 0 35px;
        }
      }
    }
  }
}
/* sidebar */
.sidebar-heading {
  font-size:16px;
  text-transform: uppercase;
  font-family:$main-font;
}
///////////////////////////////////////////////////////////////////////////////
// footer
.site-footer-top {
  background-color: $im-purple;
  height: 20px;
  margin-top:50px;
}
.site-footer {
  /*background-color: $im-purple;*/
  background-color:black;
  color:$background-grey;
  font-size:16px;
  font-weight:300;
  padding-left:10px;
  a, a:visited {
    color:white;
  }
  a:hover {
    text-decoration: underline;
  }

}


//@media only screen and (min-width: $screen-xxs) { // xxs > 160px, phones
//}
// tablet break
@media only screen and (min-width: $screen-xs) { // xs <> 480px, small, phones
}
@media only screen and (min-width: $screen-sm) { // small > 768px, tablet, portrait
}
// desktop break, ipad landscape break
@media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
}
@media only screen and (min-width: $screen-lg) { // large, wide > 1100px
}


/* Greyed down the caption so it didn’t leap out */
.home-page .wp-caption-text em {
	color:#999;
}

/* The centered title was making the page look too busy. Since logo is already left aligned, a left aligned title feels less busy. I had to use !important to get that style to over-ride */
.home-page h1 {
	text-align:left !important;
}

/* The little issue tags on the grid of covers were jumping out too much and making the page busy, so I greyed them out as well - had to use !important to get it to stick */
h5.text-center {
	color:#999 !important;
}

/* Page titles were a little too horsey at 41px so I dropped them down to 32px and gave them a little breathing room below */
h1 {
	font-size:32px;
	padding-bottom:8px;
}

/* Link color in the homepage intro was a little too close to the black background so I lightened it up only for this page */
.home-page .entry-content a {
	color:#9da2d0;
}

/* List view of the Issues the text for date and the volume number was similar and not easy to distinguish. To differentiate, I used grey for the volume info */
.issue-title .entry-content h4 {
	color:#666;
}

/* Line length was too long on big monitors for the Print Journal Staff intro - I pulled it back */
#post-648 .entry-content {
	width:70%;
}

.page-id-684 #footer-donate {
	display: none;
}

.archive {
  h4 {
    font-weight: bold;
  }
}

.post-type-archive-issue {
  h4 {
    font-weight: normal;
  }
}
.search .title h3 {
  font-weight: bold;
}
.page-id-684 .footer-donate {
  display: none;
}
