/*
 * mind
 * http://inquiringmind.com
 *
 * Write your theme styles here
 */
h1, h2, h3 {
  margin: 10px 0 8px;
}

h4, h5, h6 {
  margin: 6px 0 4px;
}

h2 {
  font-size: 24px;
}

body {
  font-size: 18px;
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 850px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1040) {
  body {
    font-size: 12px;
  }
}

.hentry {
  margin: 0;
}

.entry-header, .entry-content, .entry-footer, .page-header {
  margin: 0;
  padding: 0;
}

.search-form .search-submit {
  padding: 8px 15px;
  box-shadow: none;
  background-color: #365684;
  color: white;
  font-size: 14px;
}

header .site-branding {
  background-color: black;
}

header .search {
  text-align: right;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

@media only screen and (min-width: 480px) {
  .navbar-default .navbar-collapse {
    padding-left: 0;
  }
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-nav li > a {
  text-transform: uppercase;
}

.navbar {
  margin-bottom: 0px;
}

.entry-content .department {
  text-transform: uppercase;
  font-style: italic;
}

.entry-content .keyword {
  padding: 15px 0;
}
